<html>
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Вход</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/bionicuniversityuser/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}
{% block content %}
    <h1 align="center" >Вход</h1>
    <table bgcolor= "#c0c0c0" cellspacing= "0" cellpadding="5" border="1" align="center">
        <tr><td align="center">
                <br><br>{% if error %}
                <div>{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post" class="log">
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="_email" value="{{last_email}}" />


                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="_password" />


                    <button type="submit">войти</button>
                </form><br>
            </td></tr>
    </table>
{% endblock %}
</html>